<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: html_head (type='tag')"></div>
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">
</head>
<body>
<header th:replace="fragments :: menu"/>

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Add New Brand</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add New Brand</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login_form_inner">
                    <h3>Add New Brand</h3>
                    <div th:if="${message}" class="alert alert-danger text-center">
                        [[${message}]]
                        <button type="button" class="close" onclick="this.parentElement.style.display='none'">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="row login_form" id="contactForm" th:action="@{/add-brand}" th:object="${brand}"
                          method="post">
                        <label for="basic-url" class="h6">Brand Name</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="basic-url"
                                   aria-describedby="basic-addon3" required placeholder="Shoe" th:field="*{name}">
                        </div>
                        <label class="h6">Brand Categories</label>
                        <div class="mb-3 input-group">
<!--                            <select class="form-group w-100 block" aria-label="Default select example"-->
<!--                                    th:field="*{categories}" id="category-choose" multiple="multiple">-->
<!--                                <option selected value="-1">Choose Category</option>-->
<!--                                <th:block th:each="category:${categoryList}">-->
<!--                                    <option th:value="${category.id}" th:text="${category.name}"/>-->
<!--                                </th:block>-->
<!--                            </select>-->
<!--                            <input type="hidden" th:field="*{categories}" id="category-choose" multiple="multiple">-->
                            <th:block th:each="category:${categoryList}">
                            <div class="form-check"  style="padding-right: 100%" >
                                    <input class="form-check-input" type="checkbox" th:field="*{categories}" th:value="${category.id}" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault" th:text="${category.name}">
                                    </label>
                            </div>
                            </th:block>
                        </div>
                        <div class="mb-3 input-group">
                            <button type="submit" value="submit" class="button button-login w-100">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


<footer th:replace="fragments :: footer"/>
<div th:replace="fragments :: js_import(type='tag')"/>
</body>
</html>